
h1 {
    font-size: 55px;
}

body {
    background: #4800ff;
    color: #201e1e;
    font-family: Roboto, sans-serif;
    font-size: 14px;
   
}

.button {
    background-color: #ff66cc;
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

h3 {
    text-align: center;
    font-size: 30px;
    color:  #99ffff;
}

#powersave {
    background-color: #ff66cc;
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    width: 400px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#powersave span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#powersave span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#powersave span {
    padding-right: 25px;
}

#powersave:hover span:after {
    opacity: 1;
    right: 0;
}

#current-temp-display {
    width: 25%;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: auto;
    color: white;
    font-size: 30px;
    text-align: center;
}

#plus {
    background-color: #ff66cc;
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#plus span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#plus span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#plus span {
    padding-right: 25px;
}

#plus:hover span:after {
    opacity: 1;
    right: 0;
}

#minus {
    background-color: #ff66cc;
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#minus span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#minus span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#minus span {
    padding-right: 25px;
}

#minus:hover span:after {
    opacity: 1;
    right: 0;
}

#reset {
    background-color: #ff66cc;
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#reset span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#reset span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#reset span {
    padding-right: 25px;
}

#reset:hover span:after {
    opacity: 1;
    right: 0;
}

#powersaving-on {
    background-color: #ff66cc;
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#powersaving-on span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#minpowersaving-on span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#powersaving-on span {
    padding-right: 25px;
}

#powersaving-on:hover span:after {
    opacity: 1;
    right: 0;
}

#powersaving-off {
    background-color: #ff66cc;
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#powersaving-off span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#powersaving-off span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#powersaving-off span {
    padding-right: 25px;
}

#powersaving-off:hover span:after {
    opacity: 1;
    right: 0;
}

.low {
    color: green;
}

.medium {
    color: black;
}

.high {
    color: red;
}

h1{
    text-align: center;
}

#select-city-form {
    text-align: center;
    
}